
$green: #004d39;
$purple: #31235d;
$cream: #FFFAF1;
// $blue-grey: #68829E;
// $slate-blue: #717e8e;
// $royal-blue: #4169E1;
// Raq's
// $transparent-grey: #9193a058;



// font-family: 'Kaushan Script', cursive;
// font-family: 'Grandstander', cursive;

* {
  margin: 0;
}


html { 
  background: $green no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Kaushan Script', cursive;
  font-size: 3vh;
  color: $cream;

}
//NAVBAR

.nav-logo {
  height: 15vh;
  padding: 3vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
}

.nav-options h1 { 
  padding: 2vh;
} 

.nav-options h1 {
  font-family: 'Grandstander', cursive;
  color: white;
  font-size: 4vh;
  text-decoration: none;
}

.navbar-based {
  font-size: 4vh;
  color: white;
  font-family: 'Grandstander', cursive;
}

// HOME PAGE

//CONTACT US 

// hr {
//   padding: 3vh;
// }

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliderimg {
  width: 80%;
  height: 50vh;
  object-fit: cover;
  padding: 3vh;
}

.home-philosophy {
  display: flex;
  flex-direction:row;
  align-items: center;
  padding: 8vh 1vh;
}

.home-philosophy img {
  height: 5vh;
padding: 2vh;
}

.home-contact {
  display: flex;
  flex-direction:row;
  align-items: center;
  padding: 8vh 1vh;

}

.home-contact img {
height: 5vh;
padding: 2vh;
}

.home-featured {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8vh 0vh;
}

.home-featured-part-1 {
  max-width: 100vh;
}

.home-featured-one {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 100vh;
  
}

.home-featured-d {
  // max-width: 70vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-left: 3vh;
}



.featuredProjImg {
  height: 30vh;
  padding: 2vh;
  display: flex;
  flex-direction: row;
}

.home-featured-one-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.home-featured-two {
  display: flex;
  flex-direction: column;
  padding-left: 15vh;
  align-items: center;
  max-width: 50vh;
  
}

.home-2-text {
  // max-width: 50vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-top: 3vh;
}


.featuredProjImg2 {
  width: 50vh;
  
}

//ABOUT 
.about-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-info {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;;
}

.about-info img {
padding: 2vh;
width: 80vh;
}

.about-info p {
  width: 40vh;
}

.about-people {
  padding-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh;
}

//PROCESS

.process-div {
  display: flex;
  flex-direction: column;
}

.process-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.process-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

//PROJECTS

.project-individual {
  display: flex;
  flex-direction: row;
  padding: 2vh;
}

.project-individual-text {
  display: flex;
  flex-direction: column;
  width: 50vh;
}

.project-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh;
 
}

.main-image {
  padding: 2vh;
  height: 40vh;
  width: 50vh;;
}

.project-individual-images {
  display: flex;
  flex-direction: column;
}

.sub-image {
  height: 20vh;
  width: 22vh;
}

.projects-title {
  text-align: center;
}



//FOOTER
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4vh;
}
.footer-address {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-images img {
  display: flex;
  flex-direction: column;
  height: 4vh;
}

