

//NAVBAR

.nav-logo {
  height: 15vh;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-options h1 { 
  padding: 2vh;
} 

// HOME PAGE

.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

